.chat__container {
    position: relative;
    background: linear-gradient(-145deg, rgba(252, 209, 39, 0.44), #eaca2c);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px
}

.sidebar__logo {
    margin: .3em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
}

.chatlog {
    overflow-y: auto;
    padding: .5em;
}

.chat__input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.chat__input input {
    flex: 2;
    margin-right: .5em;
    padding: .5em;
    font-size: .7em;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
}
.chat__input button {
    height: 100%;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    color: white;
    background-color: #973d97;
}


