.chat__container {
    position: relative;
    background: linear-gradient(-45deg, #151515 22%, #363636);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
}

.chatlog {
    overflow-y: auto;
    padding: .5em;
    display: flex;
    flex-direction: column;
}


