.chat__container {
    background-color: #fcb827;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px
}

.sidebar__logo {
    margin: .3em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.chatlog {
    overflow-y: auto;
}
.chat__message, .chat__message--answer {
    background-color: white;
    color: #1f1f1f;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: .7em;
    padding: .5em 1em;
    display: flex;
    flex: 1 1;
    align-items: flex-end;
}

.chat__message--answer {
    margin-right: 40%;
    background-color: #973d97;
    color: white;
}

.chat__message {
    margin-left: 40%;
}

.chat__message .author, .chat__message--answer .author {
    font-size: .7em;
    font-style: italic;
    margin-bottom: .2em;
}
.chat__message .date, .chat__message--answer .date {
    flex: 1;
    font-size: .7em;
    font-style: italic;
    margin-left: .5em;
    text-align: right;
}

.chat__input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat__input input {
    flex: 2;
    margin-right: .5em;
    padding: .5em;
    font-size: .7em;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
}
.chat__input button {
    height: 100%;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    color: white;
    background-color: #973d97;
}


